HTML {
  height: 50%;
  width: 400px;
}

button {
  color: #507b9b;
  font: 13px/1 'Open Sans', sans-serif;
  padding: 5px;
  background: white
}

button:hover, button:active {
  background: lightgray;
  color: white;
  border: none;
}

.color-theme {
  color: #507b9b;
  font-family: 'Quicksand', sans-serif;
  font-size: 30px;
  font-weight: normal;
}

.radioBs {
     -webkit-appearance: none;
     -moz-appearance: none;
     appearance: none;
     display: inline-block;
     position: relative;
     background-color: #f1f1f1;
     color: #666;
     height: 30px;
     width: 30px;
     border: 0;
     top:10px;
     border-radius: 50px;
     cursor: pointer;
     margin-right: 7px;
     outline: none;
}

.radioBs:checked::before {
     position: absolute;
     font: 13px/1 'Open Sans', sans-serif;
     left: 11px;
     top: 7px;
     content: '\02143';
     transform: rotate(40deg);
}

.radioBs:hover {
     background-color: #f7f7f7;
}

.radioBs:checked {
     background-color: rgba(145,171,188,0.4)
}

label {
     font: 300 16px/1.7 'Open Sans', sans-serif;
     color: #666;

}

#questions {
  font: 13px/1 'Open Sans', sans-serif;
}
